﻿/* /* Настройка фона 
body {
    margin: 0;
    padding: 0;
    background-image: url(../images/background.jpeg);
    background-color: black;
    background-attachment: fixed;
    Background-size: cover;
    Background-position: center;
}

/* Настройка Блоков * /
div.box {
    width: 100%;
}
div.header {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 5px 5px;
    padding: 5px 5px;
}

div.footer {
    display: inline;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 5px 5px;
    padding: 5px 5px;
    position: relative;
    bottom: 0;
    height: 200px;
    float: right;
}

div.menu {
    width: 20%;
    height: 100%;
    float: left;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

div.content {
    width: 75%;
    height: 100%;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: justify;
    float: right;
}

div.mid {
    margin: 0 auto;
    width: 80%; /*Возможно, это ошибка, ведь в задании было 1200 пикселей,
        но я столкнулся с некоторыми проблемами при этом. Поэтому я выбрал проценты от размера окна
    color: white;
    min-width: 900px;
}

/* Настройка ссылок меню * /
a {
    font-size: 20pt;
    text-decoration: none;
    color: #ffd800;
}

    a.Passive {
        pointer-events: none;
        color: #888;
    }

    a.Active:hover {
        font-size: 25pt;
    }
/* Настройка Текста * /

p.Title {
    font-size: 55pt;
    font-family: Sylfaen;
    font-weight: bold;
    color: white;
}
/* Настройка Таблицы * /
table.UsersTable {
    width: 100%;
    border-style: double;
    border-width: medium;
}
/* Настройка Иллюстраций * /
.MeIcon {
    width: 50px;
    height: 50px;
}
.floatArt {
    float: left;
    margin: 7px 7px 7px 0;
}

.Prev {
    width: 200px;
    height: 200px;
}

.Ilustration{
    max-width: 100%;
}

/*Настройка Форм* /

input[type=text].Search {
    background-color: white;
    background-image: url('../images/search-by-image-14.jpg');
    background-repeat: no-repeat;
    padding-left: 40px;
}
input {
    
    margin: 8px 0;
}
    input[type=text], input[type=password] {
        width: 100%;
        width: 100%;
        padding: 12px 20px;
        box-sizing: border-box;
        background-color: #ffd800;
        color: black;
        border: 2px solid #ffd800;
        border-radius: 4px;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #000000;
            color: white;
        }
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffd800;
    resize: none;
    border: 2px solid #ffd800;
    border-radius: 4px;
}
    textarea:focus {
        background-color: #000000;
        color: white;
    }

input[type=submit]  {
    background-color: #ffd800;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 20px;
    border: 2px solid #ffd800;
    border-radius: 4px;
}
    input[type=submit]:hover  {
        background-color: #000000;
        color: white;
    }
*/


@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
html {
    height: 100%;
}

body {
    padding-top: 54px;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-image: url(../images/background.jpeg);
    background-color: black;
    background-attachment: fixed;
    Background-size: cover;
    Background-position: center;
}

.content {
    padding: 20px;
}

.footer {
    grid-row-start: 2;
    grid-row-end: 3;
}
.preview {
    width: 750px;
    height: 300px;
}
.MeIcon {
    width: 100px;
    height: 100px;
    border-radius: 70%;
}
.BigIcon {
    width: 300px;
    height: 300px;
    border-radius: 70%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }
ul {
    list-style-type: none;
}

.shell {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}


input[type=submit] {
    background-color: #ffd800;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 20px;
    border: 2px solid #ffd800;
    border-radius: 4px;
}

    input[type=submit]:hover {
        background-color: #000000;
        color: white;
    }
hr.myhr {

    border-color: white;
}

.modal, .card{
    color: black;
}
a {
    text-decoration: none;
    color: #ffd800;
}