﻿extends layout

block content
  h1 Документация REST_v1
  hr
  table(border="1")
      caption 
        h2 Ресурсы
        tr
          th Ресурс
          th Метод
          th URL
          th Параметры Body
          th Пагинация
          th Краткое описание
        tr
          th(rowspan=5) Users
          th GET
          th api/v1/users
          th -
          th Есть. Для списка пользователей
          th Возвращает массив пользователей без указания их пароля и списка статей
        tr
          th GET
          th api/v1/users/:id
          th -
          th Есть. Для списка статей
          th Возвращает одного пользователя с массивом его статей
        tr
          th POST
          th api/v1/users
          th 
            ul 
              li login - Уникальный никнейм пользователя(не может быть изменен в будущем)*
              li pass - пароль пользователя*
              li repass - повторение пароля*
              li fullname - имя*
              li bio - описание пользователя*
              li Ava - аватар пользователя*
          th Нет
          th Создает пользователя и возвращает его. Доступен только авторизированным пользователям
        tr
          th PUT
          th api/v1/users
          th 
            ul 
              li id - айди рдактируемого пользователя пользователя*
              li password - Подтверждение пароля редактируемого пользоватлея
              li newPassword - новый пароль. Подтверждения не требует
              li fullname - новое Имя
              li bio - новое описание пользователя
              li Ava - новый аватар пользователя
              li role - новая роль пользователя. Только для администраторов. Если указан этот параметр, все остальные(кроме id) игнорируются
          th Есть. Для списка статей
          th Обновляет данные пользователя и возвращает его. Доступен только этому же пользователю
        tr
          th DELETE
          th api/v1/users
          th 
            ul 
              li id - айди удаляемого пользователя
          th Нет
          th Возвращает объект {errorCode, ErrorMessage}. В случае успеха это {errorCode:200, ErrorMessage:'Ok'}.Доступно только Администраторам
          tr
        th(rowspan=5) Articles
          th GET
          th api/v1/articles
          th -
          th Есть. Для списка сатей
          th Возвращает массив сатей без указания их момментариев, пароля и списка статей автора
        tr
          th GET
          th api/v1/articles/:id
          th -
          th Есть. Для списка комменариев
          th Возвращает одну статью с массивом комментариев, без указания пароля и списка статей автора
        tr
          th POST
          th api/v1/articles
          th 
            ul 
              li title - Название статьи*
              li text - Текст статьи*
              li Ava - аватар статьи*
          th Нет
          th Создает статью и возвращает ее. Доступен только авторизированным пользователям
        tr
          th PUT
          th api/v1/articles
          th 
            ul 
              li title - Новое название статьи
              li text - новый текст статьи
              li Ava - новый аватар статьи
              li likes - новое количество оценок
          th Есть. Для списка статей
          th Обновляет данные статьи и возвращает ее. Доступен только автору
        tr
          th DELETE
          th api/v1/articles
          th 
            ul 
              li id - айди удаляемой статьи
          th Нет
          th Возвращает объект {errorCode, ErrorMessage}. В случае успеха это {errorCode:200, ErrorMessage:'Ok'}.Доступно только Администраторам
        tr
          th(rowspan=4) Comments
          th GET
          th api/v1/comments/:id
          th -
          th Нет
          th Возвращает комментарий с его автором(без пароля и статей)
        tr
          th POST
          th api/v1/comments
          th 
            ul 
              li text - Содержимое комментария*
              li artId - статья, к которой нужно привязать комментарий*
          th Нет
          th Создает комментарий и возвращает его. Доступен только авторизированным пользователям
        tr
          th PUT
          th api/v1/comments
          th 
            ul 
              li text - новое содержимое комментария*
              li likes - Новое количество оценок*
          th Нет
          th Обновляет данные комменарий и возвращает его. Доступен только автору
        tr
          th DELETE
          th api/v1/comments
          th 
            ul 
              li id - айди удаляемого комментария
          th Нет
          th Возвращает объект {errorCode, ErrorMessage}. В случае успеха это {errorCode:200, ErrorMessage:'Ok'}. Доступно только Администраторам или авторам комментария
  p * - обязательные поля.
  h3 Ошибки
  p Ошибки возвращаются в формате {errorCode, ErrorMessage} в случае некоректно введенных данных, отсутствии авторизации или недостатке прав доступа;
  p Или {errorCode, ErrorMessage, errorStack} в случае, если ошибка произола по вине сервера
  h3 Авторизация
  p Авторизация произвоится по Basic Стратегии
  